.services__item, .testimonials__item {
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 16px;
  background-color: #fff; }

.testimonials__image-wrapper::before, .testimonials__image-wrapper::after {
  position: absolute;
  display: block;
  content: "";
  width: 139px;
  height: 56px;
  border-radius: 12px;
  background-color: #2060f6;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg); }

.header__menu-button, .footer__menu-button {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  width: 18px;
  height: 2px;
  outline: none;
  cursor: pointer; }
  .header__menu-button:hover, .footer__menu-button:hover {
    opacity: 0.5; }
  @media (min-width: 1024px) {
    .header__menu-button, .footer__menu-button {
      display: none; } }
  .header__menu-button::before, .footer__menu-button::before {
    position: absolute;
    top: -5px;
    left: 0;
    content: "";
    width: 18px;
    height: 2px;
    background-color: #fff; }
  .header__menu-button::after, .footer__menu-button::after {
    position: absolute;
    bottom: -5px;
    left: 0;
    content: "";
    width: 18px;
    height: 2px;
    background-color: #fff; }

.home__button, .motto__button, .form__button {
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  background-color: #2060f6;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #fff;
  cursor: default; }
  .home__button:hover, .motto__button:hover, .form__button:hover {
    background-color: #144ed5; }
  @media (min-width: 1024px) {
    .home__button, .motto__button, .form__button {
      width: 220px; } }

.description__header, .expertise__header, .services__header, .work__header, .testimonials__header, .motto__header, .contacts__header, .form__header {
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  color: #253757; }

.header__contacts, .nav__link, .slider__header, .services__header::before, .work__header::before, .testimonials__header::before, .testimonials__item-header, .contacts__contact-header {
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #c0cdd7; }

.description__text, .services__item-text, .testimonials__text, .motto__text, .contacts__contact-link {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%; }

.form__input::-webkit-input-placeholder {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #fff; }

.form__input::-moz-placeholder {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #fff; }

.form__input:-ms-input-placeholder {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #fff; }

.form__input::-ms-input-placeholder {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #fff; }

.form__input, .form__input::placeholder {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #fff; }

html {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #6c788b; }

body {
  margin: 0 auto;
  max-width: 1920px;
  background-color: #fff; }

h1 {
  margin: 0;
  font-family: "Poppins", sans-serif; }

h2 {
  margin: 0;
  font-family: "Poppins", sans-serif; }

h3 {
  margin: 0;
  font-family: "Poppins", sans-serif; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

p {
  margin: 0; }

a {
  font-family: "Poppins", sans-serif;
  text-decoration: none; }

button {
  border: none;
  font-family: "Poppins", sans-serif; }

blockquote {
  margin: 0; }

cite {
  font-style: normal; }

input {
  border: none;
  font-family: "Poppins", sans-serif; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.header {
  position: relative;
  padding: 49px 20px 45px;
  background-color: #2c2c2c;
  text-align: center; }
  @media (min-width: 1024px) {
    .header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 49px 120px 45px;
      text-align: left; } }
  @media (min-width: 1600px) {
    .header {
      padding: 49px 227px 45px 228px; } }
  @media (min-width: 1024px) {
    .header__header-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .header__logo {
    width: 44.82px;
    height: 25.63px; }
    @media (min-width: 1024px) {
      .header__logo {
        margin-right: 52px; } }
    @media (min-width: 1600px) {
      .header__logo {
        margin-right: 78px; } }
  .header__menu-button {
    position: absolute;
    top: 63px;
    right: 20px; }
  .header__contacts {
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    position: absolute;
    top: 52px;
    left: 20px;
    color: #fff; }
    .header__contacts:hover {
      color: #144ed5; }
    .header__contacts::before {
      position: absolute;
      bottom: -10px;
      display: block;
      content: "";
      width: 100%;
      height: 2px;
      border-radius: 4px;
      background-color: #144ed5; }
    @media (min-width: 1024px) {
      .header__contacts {
        position: relative;
        top: 0;
        left: 0; } }
  .header--nojs .header__menu-button {
    display: none; }
  .header--nojs .header__nav {
    height: auto;
    -webkit-transform: none;
            transform: none; }
  .header--menu-open .header__menu-button {
    -webkit-animation: open-button 0.3s linear forwards;
            animation: open-button 0.3s linear forwards; }
    .header--menu-open .header__menu-button::before {
      -webkit-animation: open-upper-button 0.3s linear forwards;
              animation: open-upper-button 0.3s linear forwards; }
    .header--menu-open .header__menu-button::after {
      -webkit-animation: open-lower-button 0.3s linear forwards;
              animation: open-lower-button 0.3s linear forwards; }
  .header--menu-open .header__nav {
    -webkit-animation: open-menu 0.3s linear forwards;
            animation: open-menu 0.3s linear forwards; }
  .header--menu-close .header__menu-button {
    -webkit-animation: close-button 0.3s linear forwards;
            animation: close-button 0.3s linear forwards; }
    .header--menu-close .header__menu-button::before {
      -webkit-animation: close-upper-button 0.3s linear forwards;
              animation: close-upper-button 0.3s linear forwards; }
    .header--menu-close .header__menu-button::after {
      -webkit-animation: close-lower-button 0.3s linear forwards;
              animation: close-lower-button 0.3s linear forwards; }
  .header--menu-close .header__nav {
    -webkit-animation: close-menu 0.3s linear forwards;
            animation: close-menu 0.3s linear forwards; }

.nav {
  height: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0); }
  @media (min-width: 1024px) {
    .nav {
      height: auto;
      -webkit-transform: none;
              transform: none; } }
  .nav__list {
    text-align: center; }
    @media (min-width: 1024px) {
      .nav__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        text-align: left; } }
  .nav__item {
    padding: 10px 0; }
    @media (min-width: 1024px) {
      .nav__item {
        padding: 0;
        margin-right: 42px; }
        .nav__item:last-child {
          margin-right: 0; } }
    @media (min-width: 1600px) {
      .nav__item {
        margin-right: 64px; }
        .nav__item:last-child {
          margin-right: 0; } }
  .nav__link {
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    line-height: 150%;
    color: #fff; }
    .nav__link:hover {
      color: #144ed5; }

.home {
  background-color: #e5e5e5; }
  .home__home-wrapper {
    border-radius: 0 0 30px;
    background-color: #2c2c2c;
    color: #fff; }
    @media (min-width: 1024px) {
      .home__home-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        border-radius: 0 0 30px 30px;
        padding-left: 120px; } }
    @media (min-width: 1600px) {
      .home__home-wrapper {
        padding-left: 227px; } }
  .home__text-wrapper {
    margin-bottom: 108px;
    padding: 120px 20px 0;
    text-align: center; }
    @media (min-width: 1024px) {
      .home__text-wrapper {
        width: 362px;
        margin-bottom: 0;
        margin-right: 195px;
        padding: 120px 0 0;
        text-align: left; } }
    @media (min-width: 1600px) {
      .home__text-wrapper {
        margin-right: 324px; } }
  .home__header {
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px; }
  .home__text {
    margin-bottom: 63px;
    font-size: 18px;
    line-height: 150%; }

.slider {
  position: relative; }
  @media (min-width: 1024px) {
    .slider {
      width: 687px; } }
  .slider__item:nth-child(n + 2) {
    display: none; }
  .slider__image {
    width: 100%;
    height: 680px;
    border-radius: 30px 0;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  .slider__button-wrapper {
    position: absolute;
    left: 48px;
    bottom: 68px; }
  .slider__button {
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    width: 32px;
    height: 32px;
    border-radius: 50%; }
    .slider__button:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
    .slider__button--left {
      margin-right: 8px;
      background-image: url("../images/slider/arrow-left.svg");
      background-repeat: no-repeat;
      background-position: center; }
    .slider__button--right {
      background-image: url("../images/slider/arrow-right.svg");
      background-repeat: no-repeat;
      background-position: center; }
  .slider__text-wrapper {
    position: absolute;
    left: 144px;
    bottom: 48px;
    width: 264px; }
  .slider__header {
    margin-bottom: 8px; }
  .slider__text {
    line-height: 140%; }

.description {
  padding: 148px 20px;
  background-color: #e5e5e5;
  text-align: center; }
  @media (min-width: 1024px) {
    .description {
      padding: 148px 120px;
      text-align: left; } }
  @media (min-width: 1600px) {
    .description {
      padding: 148px 423px; } }
  .description__header {
    margin-bottom: 16px; }

.expertise {
  padding: 128px 20px 134px;
  text-align: center; }
  @media (min-width: 1024px) {
    .expertise {
      padding: 128px 120px 134px; } }
  @media (min-width: 1600px) {
    .expertise {
      padding: 128px 227px 134px; } }
  .expertise__header {
    margin-bottom: 64px;
    font-size: 52px; }
  @media (min-width: 1024px) {
    .expertise__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .expertise__item {
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    width: 264px;
    margin: 0 auto 59px; }
    .expertise__item:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
    .expertise__item:last-child {
      margin-bottom: 0; }
    @media (min-width: 1024px) {
      .expertise__item {
        margin: 0 118px 0 0; }
        .expertise__item:last-child {
          margin-right: 0; } }
    @media (min-width: 1600px) {
      .expertise__item {
        margin-right: 177px; }
        .expertise__item:last-child {
          margin-right: 0; } }
  .expertise__image {
    width: 184px;
    height: 166px;
    margin-bottom: 40px;
    border-radius: 10%; }
  .expertise__item-header {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #253757; }
  .expertise__text {
    line-height: 150%; }

.services {
  padding: 148px 20px 44px;
  background-color: #e5e5e5; }
  @media (min-width: 1024px) {
    .services {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 148px 120px 44px; } }
  @media (min-width: 1600px) {
    .services {
      padding: 148px 227px 44px; } }
  .services__text-wrapper {
    text-align: center; }
    @media (min-width: 1024px) {
      .services__text-wrapper {
        width: 362px;
        margin: 139px 150px 0 0;
        text-align: left; } }
    @media (min-width: 1600px) {
      .services__text-wrapper {
        margin-right: 226px; } }
  .services__header {
    position: relative;
    margin-bottom: 24px;
    line-height: 130%; }
    .services__header::before {
      position: absolute;
      top: -36px;
      content: "Process"; }
  .services__text {
    margin-bottom: 15px;
    line-height: 150%; }
    .services__text:last-child {
      margin-bottom: 0; }
  .services__list {
    display: grid;
    grid-template-columns: 264px;
    grid-template-rows: repeat(4, 264px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (min-width: 1024px) {
      .services__list {
        grid-template-columns: repeat(2, 264px);
        grid-template-rows: repeat(2, 264px);
        grid-gap: 30px; } }
  .services__item {
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    margin-bottom: 30px;
    padding: 32px; }
    .services__item:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
    .services__item:last-child {
      margin-bottom: 0; }
    .services__item:nth-child(n) {
      position: relative;
      top: 132px; }
    @media (min-width: 1024px) {
      .services__item {
        margin-bottom: 0; }
        .services__item:nth-child(2n) {
          position: static; }
        .services__item:nth-child(2n + 1) {
          position: relative;
          top: 132px; } }
  .services__item-header {
    width: 46px;
    margin-bottom: 24px;
    border-radius: 23px;
    background-color: rgba(32, 96, 246, 0.1);
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #2060f6; }
  .services__item-text {
    margin-bottom: 40px;
    font-size: 13px; }
  .services__item-link {
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #334563;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    cursor: default; }
    .services__item-link::before {
      display: inline-block;
      content: "";
      width: 40px;
      height: 40px;
      margin-right: 16px;
      border-radius: 50%;
      background-color: #2060f6;
      background-image: url("../images/services/arrow.svg");
      background-repeat: no-repeat;
      background-position: center;
      vertical-align: middle;
      -webkit-transition: -webkit-transform 0.3s;
      transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s; }
    .services__item-link:hover {
      color: #144ed5; }
      .services__item-link:hover::before {
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }

.work {
  background-color: #e5e5e5; }
  .work__wrapper {
    border-radius: 30px 0 0;
    padding-top: 240px;
    background-color: #2c2c2c;
    color: #fff; }
    @media (min-width: 1024px) {
      .work__wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-left: 121px;
        border-radius: 30px 0 0 30px;
        padding-left: 120px; } }
    @media (min-width: 1600px) {
      .work__wrapper {
        padding-left: 204px; } }
  .work__text-wrapper {
    margin-bottom: 75px;
    text-align: center; }
    @media (min-width: 1024px) {
      .work__text-wrapper {
        width: 362px;
        margin-bottom: 0;
        margin-right: 150px;
        text-align: left; } }
    @media (min-width: 1600px) {
      .work__text-wrapper {
        margin-right: 226px; } }
  .work__header {
    position: relative;
    margin-bottom: 32px;
    color: #fff; }
    .work__header::before {
      position: absolute;
      top: -36px;
      content: "Approach"; }
  .work__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 64px; }
    .work__item:last-child {
      margin-bottom: 0; }
    .work__item::before {
      -ms-flex-item-align: center;
          align-self: center;
      content: "";
      width: 64px;
      height: 64px;
      margin-right: 34px;
      border-radius: 50%;
      background-color: #fff; }
    .work__item--1::before {
      background-image: url("../images/features/features-item-icon-1.svg");
      background-repeat: no-repeat;
      background-position: center; }
    .work__item--2::before {
      background-image: url("../images/features/features-item-icon-2.svg");
      background-repeat: no-repeat;
      background-position: center; }
    .work__item--3::before {
      background-image: url("../images/features/features-item-icon-3.svg");
      background-repeat: no-repeat;
      background-position: center; }
  .work__text {
    width: 264px;
    font-size: 15px;
    line-height: 150%; }
  @media (min-width: 1024px) {
    .work__image-wrapper {
      width: 687px; } }
  .work__image {
    display: block;
    width: 100%;
    height: 680px;
    border-radius: 30px 0 0;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }

.testimonials {
  padding: 184px 20px 168px;
  background-color: #e5e5e5; }
  @media (min-width: 1024px) {
    .testimonials {
      padding: 184px 120px 168px; } }
  @media (min-width: 1600px) {
    .testimonials {
      padding: 184px 227px 168px; } }
  .testimonials__header {
    position: relative;
    margin-bottom: 85px;
    text-align: center; }
    .testimonials__header::before {
      position: absolute;
      top: -36px;
      content: "Testimonials"; }
    @media (min-width: 1024px) {
      .testimonials__header {
        text-align: left; } }
  @media (min-width: 1024px) {
    .testimonials__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .testimonials__item {
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 314px;
    margin: 0 auto 34px;
    padding: 87px 32px 32px;
    text-align: center; }
    .testimonials__item:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
    .testimonials__item:last-child {
      margin-bottom: 0; }
    @media (min-width: 1024px) {
      .testimonials__item {
        margin-bottom: 0;
        margin-right: 68px; }
        .testimonials__item:last-child {
          margin-right: 0; } }
    @media (min-width: 1600px) {
      .testimonials__item {
        margin-bottom: 0;
        margin-right: 102px; }
        .testimonials__item:last-child {
          margin-right: 0; } }
  .testimonials__image-wrapper {
    position: relative;
    margin-bottom: 82px; }
    .testimonials__image-wrapper::after {
      right: 0;
      bottom: 0; }
  .testimonials__image {
    z-index: 1;
    position: relative;
    width: 140px;
    height: 140px;
    border-radius: 50%; }
  .testimonials__quote {
    margin-bottom: 4px; }
    .testimonials__quote::before {
      display: block;
      content: "";
      width: 21px;
      height: 21px;
      margin: 0 auto 11px;
      background-image: url("../images/testimonials/quotes.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }
  .testimonials__text {
    margin-bottom: 16px;
    font-size: 13px; }
  .testimonials__name {
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #253757; }

.motto {
  position: relative;
  padding: 199px 20px 198px;
  text-align: center; }
  @media (min-width: 1024px) {
    .motto {
      padding: 199px 120px 198px; } }
  @media (min-width: 1600px) {
    .motto {
      padding: 199px 442px 198px 443px; } }
  .motto__header {
    margin-bottom: 24px;
    font-size: 52px; }
  .motto__text {
    margin-bottom: 64px; }
  .motto__button {
    margin: 0 auto; }
  .motto__rectangle {
    z-index: -1;
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 5px solid #2060f6;
    border-radius: 12px;
    opacity: 0.5;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg); }
    .motto__rectangle--1 {
      top: 370.12px;
      left: 5%;
      width: 67.36px;
      height: 26.63px; }
    .motto__rectangle--2 {
      top: 518.45px;
      left: 10%;
      width: 93.54px;
      height: 36.98px; }
    .motto__rectangle--3 {
      top: 72px;
      left: 15%;
      width: 85.61px;
      height: 33.84px; }
    .motto__rectangle--4 {
      top: 283px;
      left: 20%;
      width: 143.04px;
      height: 56.54px; }
    .motto__rectangle--5 {
      top: 77px;
      left: 25%;
      width: 45.28px;
      height: 17.9px;
      border-radius: 6px; }
    .motto__rectangle--6 {
      top: 465px;
      left: 30%;
      width: 45.28px;
      height: 17.9px;
      border-radius: 6px; }
    .motto__rectangle--7 {
      top: 514px;
      right: 40%;
      width: 45.28px;
      height: 17.9px;
      border-radius: 6px; }
    .motto__rectangle--8 {
      top: 385.16px;
      right: 25%;
      width: 85.61px;
      height: 33.84px; }
    .motto__rectangle--9 {
      top: 130.96px;
      right: 20%;
      width: 143.04px;
      height: 56.54px; }
    .motto__rectangle--10 {
      top: 413.16px;
      right: 15%;
      width: 153.61px;
      height: 60.72px; }
    .motto__rectangle--11 {
      top: 109.48px;
      right: 10%;
      width: 53.69px;
      height: 21.22px;
      border-radius: 8px; }
    .motto__rectangle--12 {
      top: 276.5px;
      right: 5%;
      width: 86.41px;
      height: 34.16px; }

.contacts {
  border-radius: 30px 30px 0 0;
  padding: 180px 20px 121px;
  background-color: #2c2c2c;
  color: #fff; }
  @media (min-width: 1024px) {
    .contacts {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 180px 120px 121px; } }
  @media (min-width: 1600px) {
    .contacts {
      padding: 180px 325px 121px 227px; } }
  .contacts__form {
    margin-bottom: 75px; }
    @media (min-width: 1024px) {
      .contacts__form {
        width: 460px;
        margin-bottom: 0;
        margin-right: 150px; } }
    @media (min-width: 1600px) {
      .contacts__form {
        margin-right: 226px; } }
  .contacts__contacts-wrapper {
    text-align: center; }
    @media (min-width: 1024px) {
      .contacts__contacts-wrapper {
        width: 362px;
        text-align: left; } }
  .contacts__header {
    margin-bottom: 56px;
    color: #fff; }
  .contacts__contact-header {
    margin: 48px 0 8px;
    opacity: 0.5; }
  .contacts__contact-link {
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    font-family: "Open Sans", sans-serif;
    color: #fff; }
    .contacts__contact-link:hover {
      color: #144ed5; }
  .contacts__socials-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 16px; }
    @media (min-width: 1024px) {
      .contacts__socials-list {
        -webkit-box-pack: left;
            -ms-flex-pack: left;
                justify-content: left; } }
  .contacts__socials-item {
    margin-right: 36px; }
    .contacts__socials-item:last-child {
      margin-right: 0; }
  .contacts__socials-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 32px;
    height: 32px;
    cursor: default; }
  .contacts__socials-icon {
    -webkit-transition: fill 0.3s;
    transition: fill 0.3s; }
    .contacts__socials-icon:hover {
      fill: #144ed5; }

.form__header {
  margin-bottom: 40px;
  text-align: center;
  color: #fff; }
  @media (min-width: 1024px) {
    .form__header {
      text-align: left; } }

.form__input {
  -webkit-transition: border-bottom-color 0.3s;
  transition: border-bottom-color 0.3s;
  width: 100%;
  margin-bottom: 32px;
  border-bottom: 1px solid #fff;
  padding: 16px 0;
  background-color: #2c2c2c; }
  .form__input:hover {
    border-bottom-color: #144ed5; }
  .form__input::-webkit-input-placeholder {
    opacity: 0.7; }
  .form__input::-moz-placeholder {
    opacity: 0.7; }
  .form__input:-ms-input-placeholder {
    opacity: 0.7; }
  .form__input::-ms-input-placeholder {
    opacity: 0.7; }
  .form__input::placeholder {
    opacity: 0.7; }
  .form__input:focus {
    outline: none;
    border-bottom-color: #144ed5; }

.footer {
  padding: 0 20px 81px;
  background-color: #2c2c2c; }
  @media (min-width: 1024px) {
    .footer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0 120px 81px; } }
  @media (min-width: 1600px) {
    .footer {
      padding: 0 227px 81px 228px; } }
  @media (min-width: 1024px) {
    .footer__nav {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; } }
  .footer__footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (min-width: 1024px) {
      .footer__footer-wrapper {
        display: block; } }
  .footer__logo {
    width: 44.82px;
    height: 25.63px; }
  .footer__menu-button {
    position: relative; }
  .footer--nojs .footer__menu-button {
    display: none; }
  .footer--nojs .footer__nav {
    height: auto;
    -webkit-transform: none;
            transform: none; }
  .footer--menu-open .footer__menu-button {
    -webkit-animation: open-button 0.3s linear forwards;
            animation: open-button 0.3s linear forwards; }

@-webkit-keyframes open-button {
  from {
    background-color: white; }
  to {
    background-color: rgba(255, 255, 255, 0); } }

@keyframes open-button {
  from {
    background-color: white; }
  to {
    background-color: rgba(255, 255, 255, 0); } }
    .footer--menu-open .footer__menu-button::before {
      -webkit-animation: open-upper-button 0.3s linear forwards;
              animation: open-upper-button 0.3s linear forwards; }

@-webkit-keyframes open-upper-button {
  from {
    -webkit-transform: rotate(0) translateY(0);
            transform: rotate(0) translateY(0); }
  to {
    -webkit-transform: rotate(45deg) translateY(7px);
            transform: rotate(45deg) translateY(7px); } }

@keyframes open-upper-button {
  from {
    -webkit-transform: rotate(0) translateY(0);
            transform: rotate(0) translateY(0); }
  to {
    -webkit-transform: rotate(45deg) translateY(7px);
            transform: rotate(45deg) translateY(7px); } }
    .footer--menu-open .footer__menu-button::after {
      -webkit-animation: open-lower-button 0.3s linear forwards;
              animation: open-lower-button 0.3s linear forwards; }

@-webkit-keyframes open-lower-button {
  from {
    -webkit-transform: rotate(0) translateY(0);
            transform: rotate(0) translateY(0); }
  to {
    -webkit-transform: rotate(-45deg) translateY(-7px);
            transform: rotate(-45deg) translateY(-7px); } }

@keyframes open-lower-button {
  from {
    -webkit-transform: rotate(0) translateY(0);
            transform: rotate(0) translateY(0); }
  to {
    -webkit-transform: rotate(-45deg) translateY(-7px);
            transform: rotate(-45deg) translateY(-7px); } }
  .footer--menu-open .footer__nav {
    -webkit-animation: open-menu 0.3s linear forwards;
            animation: open-menu 0.3s linear forwards; }

@-webkit-keyframes open-menu {
  from {
    height: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0); }
  to {
    height: 200px;
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }

@keyframes open-menu {
  from {
    height: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0); }
  to {
    height: 200px;
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }
  .footer--menu-close .footer__menu-button {
    -webkit-animation: close-button 0.3s linear forwards;
            animation: close-button 0.3s linear forwards; }

@-webkit-keyframes close-button {
  from {
    background-color: rgba(255, 255, 255, 0); }
  to {
    background-color: white; } }

@keyframes close-button {
  from {
    background-color: rgba(255, 255, 255, 0); }
  to {
    background-color: white; } }
    .footer--menu-close .footer__menu-button::before {
      -webkit-animation: close-upper-button 0.3s linear forwards;
              animation: close-upper-button 0.3s linear forwards; }

@-webkit-keyframes close-upper-button {
  from {
    -webkit-transform: rotate(45deg) translateY(7px);
            transform: rotate(45deg) translateY(7px); }
  to {
    -webkit-transform: rotate(0) translateY(0);
            transform: rotate(0) translateY(0); } }

@keyframes close-upper-button {
  from {
    -webkit-transform: rotate(45deg) translateY(7px);
            transform: rotate(45deg) translateY(7px); }
  to {
    -webkit-transform: rotate(0) translateY(0);
            transform: rotate(0) translateY(0); } }
    .footer--menu-close .footer__menu-button::after {
      -webkit-animation: close-lower-button 0.3s linear forwards;
              animation: close-lower-button 0.3s linear forwards; }

@-webkit-keyframes close-lower-button {
  from {
    -webkit-transform: rotate(-45deg) translateY(-7px);
            transform: rotate(-45deg) translateY(-7px); }
  to {
    -webkit-transform: rotate(0) translateY(0);
            transform: rotate(0) translateY(0); } }

@keyframes close-lower-button {
  from {
    -webkit-transform: rotate(-45deg) translateY(-7px);
            transform: rotate(-45deg) translateY(-7px); }
  to {
    -webkit-transform: rotate(0) translateY(0);
            transform: rotate(0) translateY(0); } }
  .footer--menu-close .footer__nav {
    -webkit-animation: close-menu 0.3s linear forwards;
            animation: close-menu 0.3s linear forwards; }

@-webkit-keyframes close-menu {
  from {
    height: 200px;
    -webkit-transform: scaleY(1);
            transform: scaleY(1); }
  to {
    height: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0); } }

@keyframes close-menu {
  from {
    height: 200px;
    -webkit-transform: scaleY(1);
            transform: scaleY(1); }
  to {
    height: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0); } }

/*# sourceMappingURL=main.css.map */
